.charsheet {
  max-width:  100dvh;
  max-height:  100dvh;

  height: 100dvh;
  width: 70.92dvh;

  aspect-ratio: 1/1.41;
  border: 1px solid black;
}

.charsheet2 {
  max-width:  100dvh;
  max-height:  200dvh;

  height: 200dvh;
  width: 70.92dvh;

  /* aspect-ratio: 1/1.41; */
  border: 1px solid black;
}
