.proficiency-marker {
  border: 2px solid white;

  outline: 1px solid;

  position: absolute;
  left: 100%;
  top: 15%;

  width: 0.85rem;
  aspect-ratio: 1;

  transform: translate(-50%, 0%) rotate(45deg)
}

.prof-box {
  position: relative;
}
.prof-box:before {
  @apply bg-primary/10 border-[1px] border-primary;

  position: absolute;
  left: 100%;
  top: 0;

  z-index: -1;
  content: ' ';
  /* border: 1px solid; */

  width: 100%;
  aspect-ratio: 1;

  transform: translate(-100%, -1px) rotate(45deg) scale(0.69)
}

.prof-label {
  @apply bg-white border-t border-b;
  position: relative;
}

.prof-label:before, .prof-label:after {
  @apply bg-white outline outline-1;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  aspect-ratio: 1;
}
.prof-label:before {
  /* scale for 1/sqrt(2) in order to compensate for diagonal */
  transform: translate(-50%) rotate(45deg) scale(71.5%);
}
.prof-label:after {
  transform: translate(-50%) rotate(45deg) scale(71.5%);
  left: 100%;
}
