@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English:ital@0;1&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Source+Sans+Pro:wght@300;400;600;700&family=Tillana:wght@400;700&display=swap');


/*
  base rem units off viewport height.
  with charsheet having aspect ratio of A4 portrait, this guarantees that
  what we see on the monitor is what we'll get from the printer, while
  also allowing desktop view to be a bit bigger than the size of the
  postage stamp.
*/
html, body {
  @apply text-[1.2vh];
}

.App {
  /* height: 100dvh; */
  /* width: 100dvw; */

  display: flex;
  flex-direction: column;
}
/*  */
.main-content {
  /* @apply text-[0.02dvh]; */
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.diamond-box {
  @apply flex justify-center items-center;
  position: relative;
}
.diamond-box:before {

  border: 1px solid black;

  content: ' ';

  position: absolute;
  left: 50%;
  top: 0;

  z-index: -1;

  height: 100%;
  aspect-ratio: 1;

  /* scale — ensures that square diagonal is equal to the height of the diamond in order to avoid overflows! */
  transform: translate(-50%) rotate(45deg) scale(0.715);
}

.diamond-bottom-label {
  @apply bg-black text-white pt-[0.125rem] -mt-[1.25em] w-full text-center;
  position: relative;
}
.row-decoration-diamond, .row-decoration-shard {
  position: relative;
}

.diamond-bottom-label:before, .diamond-bottom-label:after,
.row-decoration-diamond:not(.end, .mid):before, .row-decoration-diamond:not(.start, .mid):after,
.row-decoration-shard:before, .row-decoration-shard:after,
.row-decoration-diamond-transition-l:before, .row-decoration-diamond-transition-r:after {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  content: '';
  height: 100%;
  aspect-ratio: 1;
}
.diamond-bottom-label:before, .diamond-bottom-label:after {
  @apply bg-black;
}
.row-decoration-diamond-transition-l {
  margin-left: 0.25em;
}

.row-decoration-diamond.large:before,  .row-decoration-diamond.large:after {
  height: 140%;
}

.row-decoration-diamond:before, .row-decoration-diamond:after,
.row-decoration-shard:before, .row-decoration-shard:after {
  background: inherit;
  border: inherit;
  border-right-width: 1px;
  border-left-width: 1px;
  color: inherit;
}
.row-decoration-diamond-transition-l:before, .row-decoration-diamond-transition-r:after {
  z-index: 2;
  @apply border-l-0 border-b-0;
}
.row-decoration-diamond-transition-l:before {
  z-index: 1;
  background-color: white !important;
}

.row-decoration-diagonal-border-r:before,
.row-decoration-diagonal-border-r:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: ' ';
  background: inherit;
  height: 100%;
  aspect-ratio: 1;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
  border: none;
  transform: none !important;
}
.row-decoration-diagonal-border-r:before {
  left: unset !important;
  right: 1px !important;
  transform: translateX(100%) !important;
}
.row-decoration-diagonal-border-r:after {
  z-index: 1;
  left: 1px;
  background-color: #000 !important;
}



.diamond-bottom-label:before, .row-decoration-diamond:before {
  left: 0;
  transform: translate(-50%) rotate(45deg);
}
.diamond-bottom-label:after, .row-decoration-diamond:after {
  left: calc(100%);
  transform: translate(-50%) rotate(45deg);
}

.row-decoration-shard:before,
.row-decoration-diamond-transition-l:before {
  left: 0;
  transform: translate(-50%) rotate(45deg) scale(71%);
}
.row-decoration-shard:after,
.row-decoration-diamond-transition-r:after {
  left: calc(100%);
  transform: translate(-50%) rotate(45deg) scale(71%);
}

.comma-separated div:not(:last-child):after {
  content: ' •'
}

@media screen {
  .show-print {
    display: none;
  }
}
@media print {
  .hide-print {
    display: none;
  }
}
